/* You can add global styles to this file, and also import other style files */



#sidenav-main {
  direction: rtl;
  float: right;
  position: fixed;
  right: 0;
  left: auto;
}

.nav {
  text-align: right;
  direction: rtl;
}


